.footer-container {
    display: flex;
    position: absolute;
    justify-content: space-around;
    align-items: baseline;
    bottom: 0;
    width: 100%;
    color: #fff;
}

.rules {
    width: 120px;
    height: 40px;
    background-color: transparent;
    border: 2px solid hsl(217, 16%, 45%);
    color: #fff;
    border-radius: 7px;
    font-size: 20px;
    margin: 15px;
    cursor: pointer;
    text-align: center;
    transition: all 600ms;
}

.rules:hover {
    border: 2px solid #fff;
    background-color: #fff;
    color: #000;
}
